node_modules
db-lokki
uploads
api/.env
newrelic_agent.log
stripe.txt
coverage
*.log
frontend/.eslintcache
e2e-frontend/cypress/videos
e2e-frontend/cypress/screenshots
e2e-frontend/cypress.env.json
.idea
.husky
.pnp
.pnp.js

# production
build

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

ui/dist
online-store/.next
frontend/.next
rental-place/.next
rental-place/.env.development

infrastructure/scripts/daily-verif/keys.json